body {
  background-color: var(--background);
  color: var(--text);

  font-family: 'Inter', sans-serif;

  margin: 0;
}

pre, p, a, h1, h2, h3 {
  margin: 0;
}

a {
  color: var(--text);
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.scrollbar-background {
  // &:hover {
  //   &::-webkit-scrollbar-thumb {
  //     opacity: 1;
  //   }
  // }
  @media (pointer: fine) {
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(64, 63, 63, 0.8);
      border-radius: 10px;
      opacity: 0;
      // border: 1px solid var(--background2);
      // box-shadow: inset 1px 1px 1px hsla(0, 0%, 100%, 0.25),
      //             inset -1px -1px 1px rgba(0, 0, 0, 0.25);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}

:root {
  --background: #14141b;
  --text: white;
  --brand: #F9BB4B;
}